<style>
    form {
        
        display: inline-block;
    }
</style>
<form action="call-patient" method="post">
    <label for="firstName">Patient First Name:</label>
    <input type="text" name="firstName">
    <label for="lastName">Patient Last Name:</label>
    <input type="text" name="lastName">
    <label for="number">Patient Number:</label>
    <input type="text" name="number"/>
    <input type="submit" />
</form>